.sect-design {
	position: relative;
	min-height: 725px;
	padding: 25px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	
	

	.sect-inner {
		width: 50%;
	}

	.title-wrap {
		text-align: left;
	}

	.title-descr {

	}

	.h2-title {
		.title-dots {
			color: $main;
		}
	}	

	.sect-txt {
		color: transparentize($text, 0.35);

		p {
			margin-bottom: 25px;
		}

		&:last-child {
			margin-bottom: 0;
		}	
	}
}