.sect-feat-2 {
	@extend .sect-feat;
	padding: 95px 0 0;
	background-color: #f6f5f3;	
	background-image: none;


	

	.title-wrap {
		margin-bottom: 0;
	}

	

	.sect-txt {
		margin: 0 auto 80px;
		max-width: 660px;
		text-align: center;
	}

	.feat-img {
		max-width: 820px;		
		margin: 0 auto;
		img {
			display: block;
			width: 100%;
		}
	}

}