<% var data = {
  title: "Заголовок | Проект",
  author: "Serega"
}; %>

<%= _.template(require('./../includes/_mainBegin.html').default)(data) %>

<%= _.template(require('./../includes/_indexSections/_indexSection1.html').default)(data) %>
<%= _.template(require('./../includes/_indexSections/_indexSection2.html').default)(data) %>
<%= _.template(require('./../includes/_indexSections/_indexSection3.html').default)(data) %>
<%= _.template(require('./../includes/_indexSections/_indexSection4.html').default)(data) %>
<%= _.template(require('./../includes/_indexSections/_indexSection5.html').default)(data) %>
<%= _.template(require('./../includes/_indexSections/_indexSection6.html').default)(data) %>
<%= _.template(require('./../includes/_indexSections/_indexSection7.html').default)(data) %>
<%= _.template(require('./../includes/_indexSections/_indexSection8.html').default)(data) %>


<%= _.template(require('./../includes/_mainEnd.html').default)(data) %>