@import "_fonts";

$main: #ff6d6d;
$accent: #333969;

$title: #282828;
$text: #282828;
$grayColor: #ececec;


.title-wrap {
	padding: 0 0 35px;
	display: block;
	text-align: center;
	color: $title;
}


.title-descr {
	text-transform: uppercase;
	color: $main;
}


.h1-title {
	display: block;
	font-family: "ExoThin", sans-serif;
	font-size: 60px;
	line-height: 1.25em;
	font-weight: normal;
}


.h2-title {
	display: block;
	font-family: "ExoMedium", sans-serif;
	font-size: 40px;
	line-height: 1.25em;
	font-weight: normal;
}

.title-dots {
	color: $main;
}